/* Navbar */
.navbar {
    padding: 0; /* remove gap at top of navbar */
}
.navbar-container {
    background-color: #4c956c;
    ;
}
.navbar-brand {
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #f5f5f5;
    margin-left: 20px;
    padding-bottom: 0;
}
button a.nav-link {
    background-color: #33658a;
    color: #f5f5f5;
    font-family: "Wellfleet", sans-serif;
    font-size: 25px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
     color: #f5f5f5;
}

button {
    background-color:#33658a;
    margin: 20px;
    border: none;
    border-radius: 10px;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #f5f5f5;
}