/*Global Styles*/

body {
    font-family: "Wellfleet", sans-serif;
}

i {
    font-size: 3.75rem; 
    padding: 1.25rem;
 }
/* Navbar */
.navbar {
    padding: 0; /* remove gap at top of navbar */
    background-color: #4c956c;
}

.navbar-brand {
    font-family: "Kalam", sans-serif;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 1.25rem;
}

.button {
    background-color:#33658a;
    margin: 1.25rem;
    border: none;
    border-radius: 0.63rem;
    color: #f5f5f5;
    text-align: center;
    padding-right: 0.31rem;
    padding-left: 0.31rem;
}

.navbar-toggler {
    margin-right: 0.63rem;
}

/* Hero Image */
.hero-img.img-fluid {
    background-image: url('../images/pexels-dogs-water-21-crop.jpg');
    height: 33vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-cta {
    top: 17rem;
    left: 0.94rem;
    color: #f5f5f5;
    font-family: "Wellfleet", sans-serif;
    text-align: center;
    background-color: #4c956c;
    padding: 1.56rem 1.88rem 0.31rem;
}

.more-info {
    margin: 0.63rem 0.94rem 0.94rem;
    padding: 0.5rem;
    font-size: 1.25rem;
}

/* Services Summary */
.bold {
    font-weight: 400;
    font-size: 2.19rem;
    padding-top: 0.94rem;
}

div.frame {
    margin: 1.88rem 0.31rem 0.63rem 0;
    border: 4px solid #33658a;
    border-radius: 0.94rem;
    font-size: 1.13rem;
    background-color: #33658a;
    color: #f5f5f5;
}

div p.large-text {
    font-size: 3.13rem;
}

/* Footer */
#footer {
    background-color: #4c956c;
    text-align: center;
}

a {
    color: #f5f5f5;
}

/* Media Queries */
@media (min-width: 576px) {
    .hero-img.img-fluid {
        width: 100%;
        height: 40vh;
    }
    #hero-outer {
        position: relative;
    }
    
    h1 {
        font-size: 35px;
    }
    div h2 {
        font-size: 25px;
    }
    .button.more-info {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 53px;
        padding: 15px;
    }

    a.nav-link {
        font-size: 20px;
        padding: 10px;
    }
    

    .hero-img.img-fluid {
        width: 100%;
        height: 55vh; /*shows full image in landscape*/
        background-size: cover;
    }

    #hero-outer {
        position: relative;
    }
    .title-cta {
        position: absolute;
        top: 15%;
        left: 69%;
        width: 30%;
        border-radius: 10px;
        background-color: rgba(76, 149, 108, 0.8);
        padding: 40px 40px 10px;
    }

    .button.more-info {
        font-size: 20px;
    }
}
