/*Global Styles*/
html, body {    
    height: 100%;
}

body > footer {    
    position: sticky;    
    top: 100vh;
}

body {
    font-family: "Heebo", sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    color: #203E56;
}

h1, h2, h3, h4, h5, h6, .button {
    font-family: "Wellfleet", sans-serif;
    font-weight: 400;
}

p {
    font-size: 1.15rem;
    font-weight: 400;
}

/* Navbar */
.navbar {
    padding: 0; /* remove gap at top of navbar */
    background-color: #4c956c;
}

.navbar-brand {
    font-family: "Kalam", sans-serif;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 1.25rem;

    transition: transform 350ms;
}
/*Overrides bootstrap hover effect with my own transoform effect*/
.navbar-brand:hover {
    color:#f5f5f5;
    transform: translateY(-10px);
}

.button {
    background-color: #203E56;
    color: #f5f5f5;
    text-align: center;
    border: none;
    border-radius: 0.63rem;
    font-size: 1.1rem;

    margin: 1.25rem;
    padding-right: 0.31rem;
    padding-left: 0.31rem;
}

.navbar-toggler {
    font-size: 1.75rem;

    margin-right: 1.5rem;
}

/* Footer */
#footer {
    background-color: #4c956c;
    text-align: center;
}

a {
    color: #f5f5f5;
}

i {
    padding: 1rem;
 }

/* Home Page (HP) */
/*HP Hero Image */
.hero-img.img-fluid {
    background-image: url('../images/pexels-dogs-water.webp');
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.cta-container {
    width: 100%;
    background-color: #4c956c;
}

.cta-title {
    color: #f5f5f5;
    text-align: center;
    padding: 1.56rem 1.88rem 0.31rem;
}

.cta-button {
    margin: 0.63rem 0.94rem 0.94rem;
    padding: 0.5rem;
    font-size: 1.1rem;
}

/*HP Services Summary */
.sub-title {
    font-size: 2.19rem;
    padding-top: 0.94rem;
}

div.services-container {
    background-color: #203E56;
    color: #f5f5f5;
    border: 4px solid #203E56;
    border-radius: 0.94rem;
    margin: 1.88rem 0.31rem 0.63rem 0;
}

/*About Page (AP)*/
/*AP Our Story Section*/
.story-section {
    background-color: #203E56;
    color: #f5f5f5;
    padding: 0 0 3rem;
    
}

.about-titles {
    font-size: 2.75rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

img.img-round-edge {
    border-radius: 0.94rem;
    margin-top: 1rem;
}

/*AP Our Mission Section*/
.mission {
    margin-bottom: 2rem;
}

hr {
    width: 75%;
    margin: auto;
    color:#33658a;
}

/*AP How it Works Section*/
i.round {
    background-color: #203E56;
    color: #f5f5f5;
    border-radius: 50%;
    margin: 1.5rem 1.5rem 0em;
}

/*Contact Page (CP)*/
/*CP Contact Us Section*/
/*CP Form Section*/
label {
    font-size: 1.2rem;
}

.form-control.height {
    height: 10rem;
}
#green {
    background-color: #4c956c;
    font-size: 1.15rem;

    width: 50%;
    padding: 0.75rem;
}

.blue-text {
    color: black;
    font-size: 1.2rem;
}

.row.blue {
    margin: auto;
}

button#green-btn.button  {
    background-color: #4c956c;
    padding: 1rem;
    font-size: 1.5rem;
    display:flex;
    margin: auto;
}

/* Media Queries */
@media (min-width: 576px) {
    .navbar-brand {
        font-size: 4rem;
        margin-left: 1.25rem;
    }

    .navbar-toggler {
        margin-bottom: 1rem;
        font-size: 1.81rem;
    }

    .hero-img.img-fluid {
        width: 100%;
        height: 40vh;
    }
    
    h1 {
        font-size: 2.2rem;
    }
    div h2 {
        font-size: 1.57rem;
    }
    .button.more-info {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 53px;
        padding: 15px;
    }

    a.nav-link {
        padding: 10px;
    }
    
    /*.hero-img.img-fluid {
        width: 100%;
        background-size: cover;
    }*/
}

@media (min-width: 992px) {
    .hero-outer {
        position: relative;
    }

    .hero-img.img-fluid {
        height: 53vh;
    }

    .cta-container {
        position: absolute;
        bottom: 0;
        background-color: rgba(76, 149, 108, 0.8)
    }
    .services-container {
        margin: 1rem 3rem;
        align-items: center;
}
}

@media (min-width: 1200px) {
    .hero-outer {
        position: relative;
    }

    .hero-img.img-fluid {
        height: 63vh;
    }

    .cta-container {
        position: absolute;
        bottom: 0;
        background-color: rgba(76, 149, 108, 0.8)
    }  
}